/**
________ ___  ________  _______
|\  _____\\  \|\   __  \|\  ___ \
\ \  \__/\ \  \ \  \|\  \ \   __/|          style.css
 \ \   __\\ \  \ \   _  _\ \  \_|/__
  \ \  \_| \ \  \ \  \\  \\ \  \_|\ \       Updated by Ariston Lorenzo on 6/18/2019.
   \ \__\   \ \__\ \__\\ _\\ \_______\
    \|__|    \|__|\|__|\|__|\|_______|      Copyright © 2019 FiRe Tech (on behalf of 'myst development' and 'LScar Studios').

    for: https://www.firesearch.co/

**/

a {
  text-decoration: none;
}

.login, .signup {
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
}

.login {
  margin-right: 55px;
  margin-left: 45px;
}

.signup {
  margin-left: 55px;
  margin-right: 45px;
}

blue-background {
  background-color: #0ea5f0;
}

button {
  box-shadow: 10px 10px 5px grey;
}

body {
  background-color: #5daad4
}

.footer {
  background-color: #dbdbdb;
}
